{{template "adminheader" .}}

<div class="tab-pane active" id="apps">
  {{if .successMessage}}
  <div class="alert alert-success" role="alert">{{.successMessage}}</div>
  {{end}}
  {{if .errorMessage}}
  <div class="alert alert-danger" role="alert">{{.errorMessage}}</div>
  {{end}}
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <form>
            <div class="form-group text-center">
                <label for="search-apps">Search apps</label>
                <input type="text" id="search-apps" class="form-control" onkeyup="filterList()">
            </div>
        </form>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="bi-box-arrow-up-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
  </symbol>
</svg>
<div class="row mt-3" id="apps-row">
    <div class="col-6 col-md-4 col-lg-3 d-flex align-items-stretch">
        <div class="card w-100 mb-4">
            <div class="card-body">
                <h5 class="card-title">New App</h5>
                <p>
                  <a href="/admin/apps/new" class="card-text stretched-link">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-top:-5px;" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                   </svg>
                </a>
              </p>
            </div>
        </div>
    </div>
    {{range .apps}}
    <div class="col-6 col-md-4 col-lg-3 d-flex align-items-stretch">
        <div class="card w-100 mb-4" id="card-{{.Name}}">
          {{if .Status.RunningInst}}
          <div style="position: absolute; top: 1px; right: 30px; z-index:10">
            <a href="{{.Path}}" target="_blank" class="text-decoration-none"><svg width="12" height="12">
              <use href="#bi-box-arrow-up-right">
            </svg></a>
          </div>
          {{end}}
            <div style="background-color:{{if .Status.RunningInst}}#32ae27{{else}}#d92a2a{{end}}; position: absolute; top: 10px; right: 10px; border-radius: 6px; width: 12px; height: 12px;"></div>
            <div class="card-body">
                <a href="/admin/apps/{{.Name}}" class="card-title searchable stretched-link h5">{{.Title}}</a>
                <p class="card-text">
                  {{if .Status.RunningInst}}{{.Status.RunningInst}} running instances{{else}}no running instances{{end}}
                </p>
                <p class="card-text connected-users">{{if .Status.ConnectedUsers}}{{.Status.ConnectedUsers}} connected users{{else}}no user connected{{end}}</p>
            </div>
        </div>
    </div>
    {{end}}
  </div>
</div>

<script>
    function filterList() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('search-apps');
      filter = input.value.toUpperCase();
      container = document.getElementById('apps-row');
      el = container.getElementsByClassName('col-6');
    
      for (i = 0; i < el.length; i++) {
        search = [].slice.call(el[i].getElementsByClassName('searchable')).map(function(e){
            return((e.textContent || e.innerText).toUpperCase())
        }).join();
        if (search.indexOf(filter) > -1) {
          el[i].classList.remove("d-none");
          el[i].classList.add("d-flex");
        } else {
          el[i].classList.remove("d-flex");
          el[i].classList.add("d-none");
        }
      }
    }

    var evtSource = new EventSource("/admin/apps.json");
    evtSource.onmessage = function(e) {
      var data = {};
      try {
        data = JSON.parse(e.data);
      } catch(err) {
        console.log(err);
      }
      if (data.appName) {
        var el = document.getElementById("card-" + data.appName);
        if (el) {
          var status = el.querySelector(".connected-users");
          if (status) status.innerHTML = data.value;
        }
      }

    }

</script>

{{template "adminfooter" .}}
