{{template "adminheader" .}}

<div class="tab-pane active" id="groups" role="tabpanel" aria-labelledby="groups-tab">
    {{if .errorMessage}}
    <div class="alert alert-danger" role="alert">{{.errorMessage}}</div>
    {{end}}
    {{if .successMessage}}
    <div class="alert alert-success" role="alert">{{.successMessage}}</div>
    {{end}}
    <div class="card">
        <div class="card-header">{{if .GroupName}}Group: {{.GroupName}}{{else}}New group{{end}}</div>
        <div class="card-body">
            <form action="/admin/groups/{{if .GroupName}}{{.GroupName}}{{else}}new{{end}}" method="POST">
                <div class="form-group">
                    <label for="groupname">Name of the group</label>
                    <input type="text" class="form-control" id="groupname" name="groupname" value="{{.GroupName}}">
                </div>
                {{if .GroupName}}
                <button type="submit" class="btn btn-success"{{if eq .GroupName "admins"}} disabled{{end}}>Save</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-group-modal"{{if eq .GroupName "admins"}} disabled{{end}}>Delete group</button>
                {{else}}
                <button type="submit" class="btn btn-success">Save</button>
                {{end}}
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-group-modal" tabindex="-1" role="dialog" aria-labelledby="delete-group-model" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete group <strong>{{.GroupName}}</strong>? This will not delete member users.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-danger" href="/admin/groups/{{.GroupName}}/delete">Delete</a>
        </div>
        </div>
    </div>
</div>

{{template "adminfooter" .}}
