{{template "adminheader" .}}

<div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab">
    {{if .successMessage}}
    <div class="alert alert-success" role="alert">{{.successMessage}}</div>
    {{end}}
    {{if .errorMessage}}
    <div class="alert alert-danger" role="alert">{{.errorMessage}}</div>
    {{end}}
    <div class="card">
        <div class="card-header">{{if .displayedName}}{{.displayedName}}{{else}}New user{{end}}</div>
        <div class="card-body">
            <form action="/admin/users/{{if .username}}{{.username}}{{else}}new{{end}}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" 
                    value="{{.username}}" required pattern="^[a-zA-Z0-9_-]*$">
                    <small class="form-text text-muted">
                        Should contain only unaccented letters, numbers, underscores or hyphens  
                    </small>
                </div>
                <div class="form-group">
                    <label for="displayedname">Name</label>
                    <input type="text" class="form-control" id="displayedname" name="displayedname" value="{{.displayedName}}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="">
                    <small class="form-text text-muted">
                        Leave blank to keep current password  
                    </small>            
                </div>
                <div class="form-group">
                    <label for="groups">Groups</label>
                    <select class="form-control" id="groups" name="groups" multiple>
                        {{range $group, $belongs := .groups}}
                        <option value="{{$group}}" {{if $belongs}}selected{{end}}>{{$group}}</option>
                        {{end}}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                {{if .username}}
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-user-modal">Delete user</button>
                {{end}}
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="delete-user-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete user <strong>{{.username}}</strong>?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-danger" href="/admin/users/{{.username}}/delete">Delete</a>
        </div>
        </div>
    </div>
</div>

{{template "adminfooter" .}}
