{{template "adminheader" .}}

<div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form>
                <div class="form-group text-center">
                    <label for="search-user">Search users</label>
                    <input type="text" id="search-user" class="form-control" onkeyup="filterList()">
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3" id="users-row">
        {{range .users}}
        <div class="col-6 col-md-4 col-lg-3 d-flex align-items-stretch">
            <div class="card w-100 mb-4">
                <div class="card-body">
                    <h5 class="card-title searchable">{{.DisplayedName}}</h5>
                    <p><a href="" class="card-text searchable stretched-link">{{.Username}}</a></p>
                    <span class="badge badge-pill badge-primary">{{.Groups}}</span>
                </div>
            </div>
        </div>
        {{end}}
    </div>

</div>

<script>
    function filterList() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('search-user');
      filter = input.value.toUpperCase();
      container = document.getElementById('users-row');
      el = container.getElementsByClassName('col-6');
    
      for (i = 0; i < el.length; i++) {
        search = [].slice.call(el[i].getElementsByClassName('searchable')).map(function(e){
            return((e.textContent || e.innerText).toUpperCase())
        }).join();
        if (search.indexOf(filter) > -1) {
          el[i].classList.remove("d-none");
          el[i].classList.add("d-flex");
        } else {
          el[i].classList.remove("d-flex");
          el[i].classList.add("d-none");
        }
      }
    }
</script>

{{template "adminfooter" .}}
