{{template "header" .}}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card mt-5">
                <div class="card-header">Login</div>
                <div class="card-body">
                    {{if .errorMessage}}
                        <div class="alert alert-danger">
                            {{.errorMessage}}
                        </div>
                    {{end}}
                    <form action="/auth/login" method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password"  class="form-control" name="password">
                        </div>
                        <input type="hidden" name="refurl" value="{{.Referer}}">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <p class="mt-2 mb-0">Don't have an account yet? <a href="/auth/signup">Signup</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer" .}}