{{define "footer"}}
        <script type="text/javascript" src="/assets/js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"></script>
        <script type="text/javascript" src="/assets/js/selectize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/css/selectize.bootstrap4.css" />
        <script>
        $(function() {
            $('select').selectize();
        });
        </script>
    </body>
</html>
{{end}}